HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/ReservationWebService/ReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="ReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/ReservationWebService/ReservationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="partnerReserveRooms">
<part name="parameters" element="tns:partnerReserveRooms"/>
</message>
<message name="partnerReserveRoomsResponse">
<part name="parameters" element="tns:partnerReserveRoomsResponse"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="viewAllPartnerReservation">
<part name="parameters" element="tns:viewAllPartnerReservation"/>
</message>
<message name="viewAllPartnerReservationResponse">
<part name="parameters" element="tns:viewAllPartnerReservationResponse"/>
</message>
<message name="viewReservationDetail">
<part name="parameters" element="tns:viewReservationDetail"/>
</message>
<message name="viewReservationDetailResponse">
<part name="parameters" element="tns:viewReservationDetailResponse"/>
</message>
<message name="searchRoom">
<part name="parameters" element="tns:searchRoom"/>
</message>
<message name="searchRoomResponse">
<part name="parameters" element="tns:searchRoomResponse"/>
</message>
<portType name="ReservationWebService">
<operation name="partnerReserveRooms">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/partnerReserveRoomsRequest" message="tns:partnerReserveRooms"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/partnerReserveRoomsResponse" message="tns:partnerReserveRoomsResponse"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/ReservationWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="viewAllPartnerReservation">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/viewAllPartnerReservationRequest" message="tns:viewAllPartnerReservation"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/viewAllPartnerReservationResponse" message="tns:viewAllPartnerReservationResponse"/>
</operation>
<operation name="viewReservationDetail">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/viewReservationDetailRequest" message="tns:viewReservationDetail"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/viewReservationDetailResponse" message="tns:viewReservationDetailResponse"/>
</operation>
<operation name="searchRoom">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/searchRoomRequest" message="tns:searchRoom"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/searchRoomResponse" message="tns:searchRoomResponse"/>
</operation>
</portType>
<binding name="ReservationWebServicePortBinding" type="tns:ReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="partnerReserveRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="viewAllPartnerReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewReservationDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReservationWebService">
<port name="ReservationWebServicePort" binding="tns:ReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/ReservationWebService/ReservationWebService"/>
</port>
</service>
</definitions>